CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

HOST=
CLIENT=
PORT=
SECRET_SAUCE=
SALT_ROUND=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
MAILER_USERNAME=
MAILER_PASSWORD=

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=""

# Direct connection to the database. Used for migrations.
DIRECT_URL=""
